body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;             /* Almost black text for better contrast with white background */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;    /* Darkened background for better contrast */
}

li {
    float: none;
}

li a {
    display: block;
    color: #f2f2f2;             /* Slightly off-white for softer appearance, still maintains good contrast */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #0a0a0a; /* Darkened background for hover state */
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.place-card,
.recipe-card,
.pet-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7; /* Light gray background */
}

.place-card,
.recipe-card img,
.pet-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}


.place-card h2,
.place-card h3,
.recipe-card h2,
.pet-card h2,
.recipe-card h3,               /* Including h3 to ensure uniform contrast */
.pet-card h3 {
    color: #222222;             /* Dark text for better contrast */
    margin-top: 0;
}

.place-card p,
.recipe-card p,
.pet-card p {
    margin-bottom: 20px;
    color: #333333;             /* Dark text for better contrast */
}

body .pet-card ul li {
    color: #f2f2f2;
}
body .recipe-card ul li {
    color: #f2f2f2;
}

body .place-card ul li {
    color: #f2f2f2;
}

